<form action = '/bookmarks' method = 'post'>
  <label for = "url">Enter bookmark URL:</label>
  <input type = "text" name = "url">
  <label for = "title">Choose a title:</label>
  <input type = "test" name = "title">
  <input type = "submit" value = "SUBMIT">
</form>
